
<ol class="breadcrumb">
  <li><%= link_to "Lists", lists_path %> </li>
  <li class="active">Tasks due this week</li>
</ol>

<div class="row">
  <div class="page-header">
    <h3>Tasks due this week</h3>
  </div>
</div>

<div class="row">

  <table class="table table-striped">
    <thead>
      <tr>
        <td>Name</td>
        <td></td>
      </tr>
    </thead>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
      </tr>
    <% end %>
  </table>
</div>
