<div class="container">

  <ol class="breadcrumb">
    <li><%= link_to "Lists", lists_path %></li>
    <li class="active"><%= link_to @list.name, list_path(@list) %></li>
  </ol>

  <div class="row">
    <div class="page-header">
      <h3> Edit Task </h3>
    </div>
  </div>

  <%= render partial: 'form'  %>

</div>
